<div class="main-login main-center">
	<form class="form-horizontal" method="post" action="#"
        [ngFormModel]="loginForm" (submit)="doLogin($event)">
		<div class="form-group">
			<label for="username" class="cols-sm-2 control-label">Username</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
					<input type="text" class="form-control"
                        id="username"  placeholder="Enter your Username"
                        ngControl="username"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="password" class="cols-sm-2 control-label">Password</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
					<input type="password" class="form-control"
                        id="password"  placeholder="Enter your Password"
                        ngControl="password"/>
				</div>
			</div>
		</div>

		<div class="form-group ">
			<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Sign in</button>
		</div>
		<div class="login-register">
            <a [routerLink]="['/signin']">Create account</a>
         </div>
	</form>
</div>
